* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    margin: 20px auto auto auto;
    min-width: 30%;
    max-width: 90%;
    padding: auto 5px auto 5px;
}
.container hr {
    width: 100%;
}
.content_survey {
    display: block;
    align-content:flex-start;
}
.age {
    display: block;
    margin: 10px auto 10px auto;
}
.age label {

}
.age select {
    display: block;
    width: 25%;
}
.income {
    margin: 10px auto 10px auto;
}
.income select {
    display: block;
    width: 25%;
}
.gender {
    margin: 10px auto 10px auto;
}
.gender label {
    display: block;
}
.gender input {
    display: block;
    width: 25%;
}
.product {
    margin: 10px auto 10px auto;
}
.product input {
    display: block;
}
.frequence_ {
    margin: 10px auto 10px auto;
}
.frequence_ label {
    display: block;
}
.payment {
    margin: 10px auto 10px auto;
}
.number {
    display: block;
}
.number input {
    width: 12%;
}